#about > :nth-child(1) {
    margin-bottom: 0;
}
#about > :nth-last-child(1) > :nth-last-child(2) > * {
    display: flex;
    align-items: center;
}
#about i {
    font-size: 20px;
    padding: 5px 15px;
}
#about > :nth-last-child(1) > :nth-child(2) {
    margin-top: 65px;
    margin-bottom: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 350px) {
    #about > :nth-last-child(1) > :nth-child(2) {
        margin-top: 85px;
    }
}
@media (min-width: 575px) {
    #about > :nth-child(1) {
        margin-bottom: 30px;
    }
    #about i {
        font-size: 25px;
        padding: 20px 20px;
    }
    #about > :nth-last-child(1) > :nth-child(2) {
        margin-top: 105px;
        margin-bottom: 85px;
    }
}
@media (min-width: 991px) {
    #about > :nth-last-child(1) > :nth-child(2) {
        margin-top: 60px;
        margin-bottom: 65px;
    }
}
@media (min-width: 1199px) {
    #about > :nth-last-child(1) > :nth-child(2) {
        margin-top: 15px;
        margin-bottom: 25px;
    }
}