.hero :nth-child(1) div:nth-child(1) > h1 {
    font-size: 55px;
}
.hero :nth-child(1) div:nth-child(1) > p {
    padding: 10px 0 25px 0;
}
.hero :nth-child(1) div:nth-child(1) > button {
    margin: 0 0 45px -5px;
}
.hero :nth-child(1) div:nth-child(2) {
    position: relative;
    margin-top: 10px;
}
@media (min-width: 450px) {
    .hero :nth-child(1) div:nth-child(1) > p {
        padding: 15px 0 30px 0;
    }
}
@media (min-width: 575px) {
    .hero :nth-child(1) div:nth-child(1) > h1 {
        font-size: var(--fs-700);
    }
    .hero :nth-child(1) div:nth-child(1) > p {
        padding: 25px 0 40px 0;
    }
}
@media (min-width: 767px) {
    .hero :nth-child(1) div:nth-child(2) {
        margin-top: 25px;
    }
    .hero :nth-child(1) div:nth-child(1) > p {
        padding: 15px 0 30px 0;
    }
    .hero :nth-child(1) div:nth-child(1) > h1 {
        font-size: var(--fs-600);
    }
}
@media (min-width: 991px) {
    .hero :nth-child(1) div:nth-child(1) {
        margin-top: 5px;
    }
    .hero :nth-child(1) div:nth-child(2) {
        margin-top: 5px;
    }
    .hero :nth-child(1) div:nth-child(1) > h1 {
        font-size: var(--fs-700);
    }
}
@media (min-width: 1199px) {
    .hero :nth-child(1) div:nth-child(2) {
        margin-top: 0px;
    }
    .hero :nth-child(1) div:nth-child(1) > p {
        padding: 25px 0 45px 0;
    }
    .hero :nth-child(1) div:nth-child(1) {
        margin-top: 30px;
    }
}