img {
    display: inline-block;
    max-width: 100%;
    object-fit: contain;
    object-position: center;
}
.bg-light {
    background-color: var(--light-color);
}
.bg-white {
    background-color: var(--white-color);
}
.bg-black {
    background-color: var(--black-color);
    color: var(--white-color);
}
.bg-charcoal {
    background-color: var(--charcoal-color);
    color: var(--white-color);
}
.bg-main {
    background-color: var(--main-color);
}
.bottom-border {
    border-bottom: 1px solid var(--light-color);
}
ul {
    list-style-position: inside;
}