:root {
    --main-color: #50B3DB;
    --light-color: #E4F2FF;
    --charcoal-color: #354A54;
    --white-color: #FFFFFF;
    --black-color: #121212;
    --alter-main: #3564ef;
    --alter-grey: #AFAFAF;
    --charcoal-2: #151E23;

    --charcoal-bg-transp: #354a54d2;

    --ff-openSans: 'openSans', sans-serif;
    --ff-openSansItalic: 'openSansItalic', sans-serif;

    --fs-900: 80px;
    --fs-800: 70px; 
    --fs-700: 60px;
    --fs-600: 50px;
    --fs-500: 40px;
    --fs-400: 20px;
    --fs-300: 18px;
    --fs-200: 16px;
    --fs-100: 14px;

    --fw-heavy: 800;
    --fw-Lheavy: 600;
    --fw-medium: 400;
    --fw-light: 300;
    --fw-Vlight: 200;

    --border-size: 3px;
}