:root {
    --main-color: #50B3DB;
    --light-color: #E4F2FF;
    --charcoal-color: #354A54;
    --white-color: #FFFFFF;
    --black-color: #121212;

    --ff-openSans: 'openSans', sans-serif;
    --ff-openSansItalic: 'openSansItalic', sans-serif;

    --fs-xl: 70px;
    --fs-600: 50px;
    --fs-500: 40px;
    --fs-400: 20px;
    --fs-300: 18px;
    --fs-200: 15px;

    --fw-heavy: 800;
    --fw-medium: 500;
    --fw-light: 300;

    --border-size: 3px;
}