/* .bg-photo {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    background: linear-gradient(0deg, rgb(53, 74, 84) 25%, rgba(116, 123, 129, 0) 100%),
    url(../../img/agency.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */