.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 170px;
    height: 45px;
    padding: 15px 25px;
    border: none;
    outline: none;
    cursor: pointer;

    font-family: var(--ff-openSans);
    font-size: var(--fs-300);
    color: var(--white-color);
    background-color: var(--main-color);
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border: var(--border-size) solid var(--main-color);
    transition: top, left, right, bottom, 100ms ease-in-out;
}

.btn:hover::before,
.btn:focus::before { 
    z-index: 0;
    top: calc(var(--border-size) * -2);
    left: calc(var(--border-size) * -2);
    right: calc(var(--border-size) * -2);
    bottom: calc(var(--border-size) * -2);
}