#discord > div:nth-child(2) > div:nth-child(2) {
    margin-top: 10px;
    margin-bottom: 10px;
}
#discord > div:nth-child(5) > div:nth-child(1) {
    justify-content: center;
}
@media (min-width: 300px) {
    #discord > div:nth-child(2) > div:nth-child(2) {
        margin-top: 15px;
    }
}
@media (min-width: 450px) {
    #discord > div:nth-child(2) > div:nth-child(2) {
        margin-top: 40px;
    }
}