.discord-chart {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0px;
    height: 250px;
    text-align: center;
    justify-content: center; 
}
.discord-chart > .chart > .progress {
    margin-top: 10px;
    margin-bottom: 10px;
}
.discord-chart > .chart > .year, .value {
    font-family: var(--ff-openSans);
    word-break: keep-all;
    font-size: 12px;
}
.progress > .bar {
    width: 100%;
    height: 100%;
}
.discord-chart .chart > .value {
    opacity: 0;
}
.chart.animate > .value {
    animation: labels 1500ms forwards;
}
.chart.animate > .progress > .bar {
    animation: chart 1500ms forwards;
}
@keyframes 
    chart {
        0% {
            background-color: transparent;
        }
        100% {
            background-color: var(--black-color);
        }
}
@keyframes 
    labels {
        0% {
            transform: translateY(60px);
        }
        40% {
            opacity: 0;
        }
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
}
@media (min-width: 350px) {
    .discord-chart {
        gap: 10px;
    }
    .discord-chart > .chart > .year, .value {
        font-size: 13px;
    }
}
@media (min-width: 450px) {
    .discord-chart {
        gap: 10px;
    }
    .discord-chart > .chart > .year, .value {
        font-size: 16px;
    }
}