.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form > .form-row {
    display: inherit;
    flex-direction: column;
    position: relative;
}
.form > .form-row:last-of-type {
    flex-direction: row;
    align-items: center;
}
.form > .form-row:last-child > :nth-child(1) {
    margin: 0;
}
.form > .form-row > label {
    font-family: var(--ff-openSans);
    position: absolute;
    top: 16px;
    left: 10px;
    font-size: var(--fs-200);
    pointer-events: none;

    /* NOT SURE IF NEEDED */
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.form > .form-row > input, textarea {
    outline: none;
    font-family: var(--ff-openSans);
    font-size: var(--fs-200);
    background: var(--white-color);
    border: none;
    border-bottom: 2px solid #a3a3a3;
    border-radius: 6px 6px 0 0;
    padding: 25px 10px 10px 10px;
    height: 60px;
}
.form > .form-row > textarea {
    resize: none;
    height: 150px;
}
.form > .form-row > 
    input:focus~.bar::before,
    textarea:focus~.bar::before,
    input:focus~.bar::after, 
    textarea:focus~.bar::after {
        animation: border-in 0.5s ease forwards;
}



.form > .form-row > 
    input:focus~label,
    textarea:focus~label,
    input:valid~.label-name,
    input:not(:placeholder-shown)~.label-email,
    textarea:valid~.label-message {
        transform: translateY(-75%);
        font-size: var(--fs-50)!important;
}

/* * input:valid~label,
textarea:valid~label */



.bar::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: var(--main-color);
    height: 2px;
}
.bar::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    background-color: var(--main-color);
    height: 2px;
}
@keyframes border-in {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}
/* @keyframes smaller-label {
    0% {
        font-size: var(--fs-200);
    }
    100% {

    }
} */