header {
    position: sticky;
    top: 0;
}
header.container {
    padding: 0 10px;
    border-bottom: 1px solid var(--charcoal-color); /*SHADOW OR SMTH NEEDED*/
}
header.container > .row > .col-12 {
    display: flex;
    justify-content: space-between;
}
header .logo {
    height: 25px;
}
header nav {
    gap: 50px;
    line-height: 25px;
    font-size: 16px;
    text-decoration: none;
    color: var(--white-color);
}
header nav > a {
    text-decoration: inherit;
    color: inherit;
    text-transform: capitalize;
}
header .hamburger {
    line-height: 25px;
    font-size: 25px;
}
#music-promo,
#nfts,
#discord,
#about {
    scroll-margin-top: 84px;
}