header {
    position: sticky;
    top: 0;
}
header.container {
    padding: 0 10px;
}
header.container > .row > .col-12 {
    display: flex;
    justify-content: space-between;
}
header .logo {
    height: 25px;
}
header nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    padding: 15px 25px;
    align-items: center;

    background-color: var(--charcoal-color);

    
    gap: 50px;
    line-height: 25px;
    text-decoration: none;
    transform: translateY(calc(100% - 1px));
}
header nav > a {
    font-family: var(--ff-openSans);
    font-size: var(--fs-400);
    font-weight: var(--fw-heavy);
    text-decoration: inherit;
    color: inherit;
    text-transform: capitalize;
}
header .hamburger {
    line-height: 25px;
    font-size: 25px;
}
#music-promo,
#nfts,
#discord,
#about {
    scroll-margin-top: 84px;
}
@media (min-width: 991px) {
    header nav {
        flex-direction: row;
        padding: 0;
        transform: translateY(0);
        position: static;
        border-bottom: none;
        height: inherit;
        gap: 50px;
    }
}