#music-promo > :nth-child(5) > div:last-child {
    position: relative;
}
.heroSvg {
    margin: 25px 0 55px 7px;
    position: inherit;
    z-index: 1;
}
.whyGamingSvg {
    margin: 50px 0 35px 30px;
    z-index: 1;
    position: inherit;
    width: 75%;
}
.howExecuteSvg {
    filter: invert(100%) sepia(30%) saturate(3607%) hue-rotate(285deg) brightness(129%) contrast(112%);;
}
@media (min-width: 450px) {
    .whyGamingSvg {
        margin: 50px 0 35px 35px;
    }
}
@media (min-width: 575px) {
    .whyGamingSvg {
        margin: 50px 0 35px 45px;
    }
}
@media (min-width: 767px) {
    .whyGamingSvg {
        margin: 55px 0 45px 27px;
    }
}
@media (min-width: 1199px) {
    .whyGamingSvg {
        margin: 55px 0 45px 35px;
    }
}