#music-promo i {
    font-size: var(--fs-250);
    margin: 0 0 0 10px;
}
.youtube,
.tiktok {
    margin: 7px 0 0 0;
}
#music-promo > :nth-child(2) {
    filter: invert(100%) sepia(30%) saturate(3607%) hue-rotate(285deg) brightness(129%) contrast(112%);
    margin-bottom: 70px;
}
#music-promo > :nth-child(3) {
    margin-bottom: 10px;
}
#music-promo > :nth-child(4) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#music-promo > :nth-child(4) i {
    padding: 10px 20px;
}
#music-promo > :nth-child(4) div {
    display: inherit;
    align-items: center;
}
#music-promo > :nth-child(4) p {
    padding: 7px 0; 
    font-size: var(--fs-250);
}
#music-promo > :nth-child(4) > div:nth-child(5) > p {
    padding-left: 5px;
}
#music-promo > :nth-child(5) > div:last-child {
    margin-top: 55px;
}
#music-promo > :nth-child(5) > div > h3 {
    margin: 0 0 10px 0;
}
#music-promo > :nth-last-child(2) div:first-of-type {
    margin-top: 40px;
    margin-bottom: 20px;
}
#music-promo > :nth-last-child(2) div:last-of-type {
    justify-content: center; 
    margin-top: 30px;
}
#music-promo > :nth-last-child(1) div {
    justify-content: center; 
    align-items: center;
    margin: 20px 0 40px 0;
}
@media (min-width: 575px) {
    #music-promo > :nth-last-child(2) div:last-of-type {
        margin-top: 40px;
    }
}
@media (min-width: 767px) {
    #music-promo > :nth-child(4) p {
        line-height: 1.5;
        padding: 10px 0; 
    }
    #music-promo > :nth-last-child(2) div:last-of-type {
        margin-top: 50px;
    }
    #music-promo > :nth-last-child(1) div {
        margin: 15px 0 30px 0;
    }
}
@media (min-width: 991px) {
    #music-promo > :nth-child(3) {
        margin-bottom: 20px;
    }
    #music-promo > :nth-child(4) div > p {
        font-size: var(--fs-300);
    }
    #music-promo i {
        font-size: var(--fs-300);
    }
    #music-promo > :nth-child(5) > div:last-child {
        margin-top: 0;
    }
    #music-promo > :nth-child(5) {
        margin-top: 50px;
        margin-bottom: 30px;
    }
    #music-promo > :nth-child(5) div:first-of-type {
        margin: 20px 0 0 0;
    }
    #music-promo > :nth-last-child(2) div:last-of-type {
        margin-top: 60px;
    }
}
@media (min-width: 1199px) {
    #music-promo > :nth-child(5) {
        margin-top: 80px;
    }
    #music-promo > :nth-child(5) div:first-of-type {
        margin: 60px 0 0 0;
    }
    #music-promo > :nth-last-child(2) div:last-of-type {
        margin-top: 70px;
    }
}