#nfts > :nth-child(2) > :nth-child(1) > * {
    margin: 0 10px;
}
#nfts > :nth-child(1) {
    margin-bottom: 0;
    z-index: 2;
    position: inherit;
}
#nfts > :nth-child(2) {
    margin-top: 0;
}
#nfts > :nth-child(2) > :nth-child(1) {
    position: relative;
    z-index: 2;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 60px 0;
    border: 15px solid transparent;
    border-image: linear-gradient(45deg, var(--main-color) , var(--black-color));
    border-image-slice: 1;
}
#nfts::after {
    content: '';
    background-image: url(../../img/bg.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: 0.2;
}
#nfts > :nth-child(2) > :nth-child(1) h3 {
    padding: 10px 0 25px 0;
}
#nfts > :nth-child(2) > :nth-child(1) > :nth-last-child(1) button {
    margin: 0 10px;
}
#nfts > :nth-child(2) > :nth-child(1) > :nth-last-child(1) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#nfts a {
    overflow: hidden;
    background: linear-gradient(to right, var(--black-color), var(--black-color) 50%, var(--mainDark-color) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 250ms ease;
    min-width: 120px;
}
#nfts a:hover {
    background-position: 0 100%;
}
@media (max-width: 310px) {
    #nfts > :nth-child(2) > :nth-child(1) > :nth-last-child(1) button {
        margin: 0;
        padding: 0;
    }
}
@media (min-width: 575px) {
    #nfts > :nth-child(1) {
        margin-bottom: 30px;
    }
}
@media (min-width: 991px) {
    #nfts > :nth-child(2) > :nth-child(1) > :nth-last-child(1) {
        flex-direction: row;
    }
}